@import url('https://fonts.googleapis.com/css?family=Livvic:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body {
    background: #222;
    margin: 0;
}
.header {
    height: 130px;
    padding: 5px;
    text-align: center;
    background: linear-gradient(to bottom right, red, purple);
    color: white;
    font-family: 'Livvic', sans-serif;
    margin-bottom: 15px;
    text-shadow: 2px 2px #222;
}

h1 {
    margin: 5px;
}
button {
    background: linear-gradient(to bottom right, red, purple);
    padding: 10px;
    margin: 10px;
    border-radius: 1em;
    color: #222;
    box-shadow: 3px 3px rgb(46, 0, 46);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    border: 2px inset;
    border-color: rgb(194, 2, 2) rgb(78, 0, 78) rgb(78, 0, 78) rgb(194, 2, 2);
    outline: none;
}

input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

input[type="radio"]:checked + label{
    background: linear-gradient(to bottom right, red, purple);
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    color: #222;
    box-shadow: 3px 3px rgb(46, 0, 46);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    border: 2px inset;
    border-color: rgb(194, 2, 2) rgb(78, 0, 78) rgb(78, 0, 78) rgb(194, 2, 2);
  }

label {
    display: table-cell;
    padding: 10px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(to bottom right, rgb(114, 2, 2), rgb(48, 0, 48));
    color: rgb(68, 68, 68);
    border-radius: 3px;
    border: 2px inset;
    border-color: rgb(114, 2, 2) rgb(48, 0, 48) rgb(48, 0, 48) rgb(114, 2, 2);
    box-shadow: 3px 3px rgb(46, 0, 46);
    font-family: 'Lexend Deca', sans-serif;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}
p {
    background: linear-gradient(to bottom right, red, purple);
    padding: 10px;
    margin: 0px;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    color: #222;
    box-shadow: 3px 3px rgb(46, 0, 46);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    border: 2px inset;
    border-color: rgb(194, 2, 2) rgb(78, 0, 78) rgb(78, 0, 78) rgb(194, 2, 2);
}
#changestyledropdown {
    text-shadow: none;
}

a {
    text-decoration: none;
    color: #222;
}
button:hover, input:hover, label:hover {
    transform: scale(1.2);
    cursor: pointer;
}

button:active {
    background: linear-gradient(to bottom right, rgb(194, 2, 2), rgb(78, 0, 78));
}

#buttonshover:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#stylechoice {
    display: inline-block;
    vertical-align: left;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    display: grid;
    float: left;
    grid-gap: 0px 0px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch; 
    align-content: stretch;
    width: 600px;
    height: 600px;
    margin: 0 auto 20px 25%;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
}


.childs {
    justify-self: stretch;
    align-self: stretch;
    background-color: #D8D3D3;
}
.childsblack {
    justify-self: stretch;
    align-self: stretch;
    background-color: black;
}

footer {
    padding: 15px;
    text-align: right;
    clear: both;
    position: relative;
    height: 30px;
    margin-top: 15px;
    background: linear-gradient(to bottom right, red, purple);
}

span {
    line-height: 30px;
    padding: 10px;
    margin: 10px;
    color: #222;
    font-family: 'Lexend Deca', sans-serif;
}